body{
	background:url(../img/bg-mainbg.jpg);
}

#container{
	width:320px;
	margin:0 auto 0 auto;
}


#header{
	margin-top:10px;
	margin-bottom:20px;
}
#header ul{
	margin:0;
	padding:0;
}
#header ul li{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}


.map iframe{
	width:100%;
	height:250px;
}


/*footer*/

#footer{
	background:url(../img/footer-line.png) repeat-x top left;
	width:100%;
	padding:30px 0 30px 0;
	margin-top:30px;
	color:#666;
}

#footer-left{
	padding-bottom:10px;
}
#footer-right{
	font-size:80%;
	text-align:center;
	line-height:120%;
	border-top:1px dotted #CCC;
	padding:10px 0 0 0;
}



/*contents*/

.contents-inbox{
	width:300px;
	margin:0 auto 0 auto;
}


#foot-contact{
	background:#E8E8E8;
	border:1px solid #FFF;
	text-align:center;
	padding:10px 0 10px 0;
	width:300px;
	margin:15px auto 15px auto;
}

.content-header {
	padding: 1em;
    background-clip: border-box;
    background-color: rgb(247, 244, 244);
    border-left-style: solid;
    border-left-color: #c10000;
    border-left-width: thick;
    box-shadow: 0 0 1px 1px #00000017;
    color: #333;
}



/*ichigogari*/



.gari-table{
	width:300px;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	border-collapse:collapse;
	margin-bottom:15px;
}
.gari-table th{
	padding:7px 0 7px 0;
	border-bottom:1px solid #CCC;
}
.gari-table td{
	padding:7px 0 7px 0;
	border-bottom:1px dotted #ccc;
}





/*sell*/


.sell-table{
	width:300px;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	border-collapse:collapse;
}
.sell-table th{
	width:6%;
	padding:7px 0 7px 0;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
}
.sell-table td{
	padding:7px 0 7px 0;
	border-bottom:1px dotted #ccc;
	text-align:center;
	border-left:1px dotted #CCC;
}



.sell-table2{
	width:300px;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	border-collapse:collapse;
}
.sell-table2 th{
	width:100px;
	padding:3px;
	border-bottom:1px solid #CCC;
}
.sell-table2 td{
	padding:3px;
	border-bottom:1px dotted #ccc;
	text-align:center;
	border-left:1px dotted #CCC;
}






/*map*/

#mapCanvas {
	height: 250px;
	width: 100%;
	border:1px solid #CCC;
}










#menu-bg{
	width:100%;
	background:url(../img/menu-bg.png) repeat-x;
	height:123px;
}

.contents-bgstart{
	background:url(../img/slide-bg.png) no-repeat left 200px;
	width:960px;
	margin:0 auto 0 auto;
		padding-top:200px;
}

.contents-bg{
	background:url(../img/slide-bg.png) no-repeat left 170px;
	width:960px;
	margin:0 auto 0 auto;
	padding-top:170px;
}


.contents-inbox-in{
	width:660px;
	margin:0 auto 0 auto;
}
.contents-inbox-in2{
	width:610px;
	margin:0 auto 0 auto;
}



.contact{
	background:url(../img/contact-bg.png);
	width:650px;
	margin:0 auto 0 auto;
	border:1px solid #FFF;
	padding:25px 0 25px 0;
}
.contact-left{
	width:330px;
	float:left;
	margin-left:25px;
}
.contact-right{
	width:250px;
	float:right;
	margin-right:25px;
	border:1px solid #FFF;
}
.contact-left ul{
	margin:0;
	padding:0;
	background:url(../img/contact-img02.png) no-repeat left -10px;
}
.contact-left ul li{
	margin:0 0 5px 55px;
	padding:0;
	list-style:none;
	font-size:75%;
}



.photo-bg01{
	width:212px;
	background:url(../img/photoi-frame01.png) no-repeat left top;
	float:left;
}
.photo-bg01 img{
	margin:10px 0 11px 11px;
}
.photo-bg02{
	width:212px;
	background:url(../img/photoi-frame02.png) no-repeat left top;
	float:left;
}
.photo-bg02 img{
	padding:11px 0 11px 21px;
}
.photo-bg03{
	width:398px;
	background:url(../img/photoi-frame03.png) no-repeat left top;
	float:left;
}
.photo-bg03 iframe{
	padding:11px 0 0 11px;
}














/*contact*/

#contact-table{
	width:100%;
	border-collapse: collapse;
	margin-bottom:15px;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
}
#contact-table th{
	width:200px;
	border-collapse: collapse;
	padding:7px 0 7px 0;
	border-bottom:1px dotted #CCC;
}
#contact-table td{
	width:410px;
	border-collapse: collapse;
	padding:7px 0 7px 0;
	border-bottom:1px dotted #CCC;
}



/*kome*/

#kome-table{
	width:100%;
	border-collapse:collapse;
	border:1px solid #ccc;
	margin-bottom:20px;
}
#kome-table th{
	border-collapse:collapse;
	border:1px solid #ccc;
	padding:5px;
}
#kome-table th.title{
	width:150px;
}
#kome-table th.sub{
	background:#E6E6E6;
}
#kome-table th.tsuru{
	background:#F90;
	border:2px solid #F00;
}
#kome-table td{
	border-collapse:collapse;
	border:1px solid #ccc;
	padding:5px;
	text-align:center;
}
#kome-table td.tsuru{
	font-weight:bold;
	border:2px solid #F00;
}

#kome-info{
	margin:0 0 30px 0;
	padding:0;
}
#kome-info li{
	margin-bottom:5px;
}

#kome-price01{
	width:100%;
	border-collapse:collapse;
	border:1px solid #ccc;
}
#kome-price01 th{
	border-collapse:collapse;
	border:1px solid #ccc;
	padding:5px;
	background:#E6E6E6;
}
#kome-price01 td{
	border-collapse:collapse;
	border:1px solid #ccc;
	padding:5px;
	text-align:center;
}


