/* CSS Document */

body {
	margin:0;
	font-size:90%;
	line-height:140%;
	color:#333;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


h1,h2,h3,h4,h5{margin:0;padding:0;}
img{border:0;vertical-align:bottom;}
p{margin:0;padding:0;}

.clear{clear:both;}


.photo_right{
	margin:0 0 15px 15px;
	float:right;
	}
.photo_left{
	margin:0 15px 15px 0;
	float:left;
	}
	
.photo_boxline{
	border:1px solid #CCC;
	padding:2px;
}


table{border-collapse:collapse;}
th{border-collapse:collapse;}
td{border-collapse:collapse;}



.font_navy{color:#006699;}
.font_darkred{color:#990000;}
.font_red{color:#FF0000;}
.font_green{color:#669900;}
.font_pink{color:#FF6699;}
.font_yellow{color:#FF0;}
.font_lightgray{color:#ccc;}
.font_lightblue{color:#3FA9F5;}
.font_lightgreen{color:#009844;}


.font_nomalbold{font-weight:normal;}
.font_bold{font-weight:bold;}
.font_small{font-size:80%;}
.font_middle{font-size:90%;}
.font_big{font-size:110%;}


.line_center{text-align:center;}
.line_right{text-align:right;}
.line_left{text-align:left !important;}


/*
a{color:#fff;}
a:hover{color:#FF0;}
*/

.margin_b5px{margin-bottom:5px !important;}
.margin_b10px{margin-bottom:10px !important;}
.margin_b15px{margin-bottom:15px !important;}
.margin_b20px{margin-bottom:20px !important;}
.margin_b25px{margin-bottom:25px !important;}
.margin_b30px{margin-bottom:30px !important;}
.margin_b35px{margin-bottom:35px !important;}
.margin_b40px{margin-bottom:40px !important;}
.margin_b45px{margin-bottom:45px !important;}
.margin_b50px{margin-bottom:50px !important;}


.margin_u5px{margin-top:5px !important;}
.margin_u10px{margin-top:10px !important;}
.margin_u15px{margin-top:15px !important;}
.margin_u20px{margin-top:20px !important;}
.margin_u25px{margin-top:25px !important;}
.margin_u30px{margin-top:30px !important;}
.margin_u35px{margin-top:35px !important;}
.margin_u40px{margin-top:40px !important;}
.margin_u45px{margin-top:45px !important;}
.margin_u50px{margin-top:50px !important;}




.imeoff{ime-mode: disabled;}


.clearfix{
	overflow:hidden;
	}
* html .clearfix{
  height:1%;
  overflow:visible;
}


.list-normalset{margin-top:0;}
.list-normalset li{margin-bottom:5px;line-height:130%;}

.list-normalset-decimal{margin-top:0;}
.list-normalset-decimal li{margin-bottom:5px;line-height:130%;list-style:decimal;}




/*menu*/


#mainmenu{
	width:960px;
	margin:0 auto 0 auto;
}

#mainmenu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#mainmenu li,#mainmenu a{
  display: block;
  width: 160px;
  height:123px;
  float: left;
}

#mainmenu li{
  text-indent: -9999px; 
}

#mainmenu a {
  text-decoration: none;
  background:url(../img/menu.png) no-repeat left top;
}



#mainmenu li.menu01 a { background-position: 0px 0px;}
#mainmenu li.menu02 a { background-position: -160px 0px ;}
#mainmenu li.menu03 a { background-position: -320px 0px ;}
#mainmenu li.menu04 a { background-position: -480px 0px ;}
#mainmenu li.menu05 a { background-position: -640px 0px ;}
#mainmenu li.menu06 a { background-position: -800px 0px ;}

#mainmenu li.menu01 a:hover { background-position: 0px -123px ;}
#mainmenu li.menu02 a:hover { background-position: -160px -123px ;}
#mainmenu li.menu03 a:hover { background-position: -320px -123px ;}
#mainmenu li.menu04 a:hover { background-position: -480px -123px ;}
#mainmenu li.menu05 a:hover { background-position: -640px -123px ;}
#mainmenu li.menu06 a:hover { background-position: -800px -123px ;}





/*sns*/
.button_google{
float: right;
width: 60px;
margin-right:10px;
}

.twitter-share-button{
width: 90px !important;
vertical-align: top !important;
float: right;
}

.fb-like{
float: right !important;
width:98px;
}

