/* CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
a:hover,a:active,a:link,a:visited {color:#000;text-decoration:none;}
b,strong{font-weight:bold;}
i {font-style: italic;}
u {text-decoration: underline;}
strike {text-decoration: line-through;}

body {
  font-size: 100%;
  font-family:"Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
  color: #333;
}

a:hover,a:active,a:link,a:visited {color:#3B5998;text-decoration: none;}
a:hover {
    text-decoration: underline;
}

#content {
    width:960px;
    margin-left: auto;
    margin-right: auto;
}

#content h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2em;
}

#main {
    position:relative;
}
#photo {
    height: 500px;
    border: 1px solid #f3f3f3;
    position:relative;
}

#photo img { position:absolute; top:0; left:0; z-index:8; }
#photo img.active { z-index:10; }
#photo img.last-active { z-index:9; }
         
#discription {
    top:0px;
    left:0x;
    position: absolute;
    z-index:11;
    margin-top: 80px;
    margin-left: 600px;
    margin-right: 10px;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 10px;
    filter: alpha(opacity=75);
    -moz-opacity:0.75;
    opacity:0.75;
}

#discription h1 {
    text-align:center;
    font-size: 2em;
    margin-bottom: 1em;
    filter: alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
}

#discription p {
    line-height: 1.5em;
    filter: alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
}

#price table {
    width: 100%;
    border: 1px #E3E3E3 solid;
    border-collapse: collapse;
    border-spacing: 0;
}

#price table th {
    padding: 5px;
    border: #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    background: #F5F5F5;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}
#price table td {
    padding: 5px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    text-align: center;
}

#inquiry {
    margin-bottom: 100px;
}

#inquiry table {
    width:100%;
}
#inquiry table th{
    font-weight:normal;
    padding: 5px;
    text-align:right;
}

#inquiry table td{
    font-size: 1.2em;
    padding: 5px;
}

#mapCanvas {
    height: 300px;
    width: 100%;
}
