RewriteEngine On

# iPod
RewriteCond %{HTTP_USER_AGENT} iPod
RewriteRule ^$ http://www.tsuru-strawberry-farm.com/sp/index.html [R]

# iPhone
RewriteCond %{HTTP_USER_AGENT} iPhone
RewriteRule ^$ http://www.tsuru-strawberry-farm.com/sp/index.html [R]

# WILLCOM
RewriteCond %{HTTP_USER_AGENT} PDA
RewriteRule ^$ http://www.tsuru-strawberry-farm.com/sp/index.html [R]

# Android
RewriteCond %{HTTP_USER_AGENT} Android
RewriteRule ^$ http://www.tsuru-strawberry-farm.com/sp/index.html [R]
